<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SecureShare - Protected File Sharing platform</title>
  </head>
  <body>
    <% if(locals.fileLink != null) { %>
    <div style="margin-bottom: 1rem">
      Your file is uploaded...
      <a href="<%= locals.fileLink %>"><%= locals.fileLink %></a>
    </div>
    <% } %>
    <form
      action="/upload"
      method="POST"
      style="
        display: grid;
        gap: 0.5rem;
        grid-template-columns: auto 1fr;
        max-width: 500px;
        margin: 290px auto;
      "
      enctype="multipart/form-data"
    >
      <label for="file">Upload your file</label>
      <input type="file" name="file" id="file" required />
      <label for="password">Enter a password</label>
      <input type="password" name="password" id="password" />
      <button type="submit" style="grid-column: span 2">Share</button>
    </form>
  </body>
</html>
